input[type="text"] {
    width: 100%; /* Make input full width for better mobile experience */
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    
}


input[type="submit"] {
    background-color: rgb(65, 65, 65);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: rgb(54, 101, 255);
}

:root{
	--global-font-size:15px;
	--global-line-height:1.4em;
	--global-space:10px;
	--font-stack:"Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", serif;
	--mono-font-stack:"Menlo", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", serif;
	--background-color: #151515;
	--font-color: #e0e0e0;
	--invert-font-color: #151515;
	--primary-color: #1a95e0;
	--secondary-color: #727578;
	--error-color: #d20962;
	--progress-bar-background: #444;
	--progress-bar-fill: #e0e0e0;
	--code-bg-color: #1e1e1e;
	--block-background-color: #1e1e1e;
}
*{
	box-sizing:border-box;
	text-rendering:geometricprecision
}
*::selection{
	background:var(--primary-color);
	color:var(--invert-font-color)
}
body{
	max-width:1250px;
	margin:40px auto;
	padding:0 10px;
	line-height:1.5;
	font-size:var(--global-font-size);
	color:var(--font-color);
	line-height:var(--global-line-height);
	
	font-family:var(--font-stack);
	/* word-wrap:break-word; */
	background-color:var(--background-color)
}
h1,h2,h3,h4,h5,h6,.logo{
	line-height:var(--global-line-height)
}
a{
	cursor:pointer;
	color:var(--primary-color);
	text-decoration:none
}
a:hover{
	background-color:var(--primary-color);
	color:var(--invert-font-color)
}

header{
	border-bottom:2px solid #b6b6b6;
    margin-bottom:2em;
    /* padding-bottom:1em; */
}

footer{
	border-top:2px solid #b6b6b6;
	margin-top:2em;
	padding-top:2em;
	text-align:center
}

code{
	font-weight:inherit;
	background-color:var(--code-bg-color);
	font-family:var(--mono-font-stack)
}