@font-face{
	font-family:iosevka;
	src:url(/fonts/iosevka/woff2/iosevka-regular.woff2?v=3.6.3)format("woff2"),url(/fonts/iosevka/woff/iosevka-regular.woff?v=3.6.3)format("woff"),url(/fonts/iosevka/ttf/iosevka-regular.ttf?v=3.6.3)format("truetype");
	font-weight:400;
	font-style:normal
}
@font-face{
	font-family:iosevka;
	src:url(/fonts/iosevka/woff2/iosevka-bold.woff2?v=3.6.3)format("woff2"),url(/fonts/iosevka/woff/iosevka-bold.woff?v=3.6.3)format("woff"),url(/fonts/iosevka/ttf/iosevka-bold.ttf?v=3.6.3)format("truetype");
	font-weight:700;
	font-style:bold
}
@font-face{
	font-family:iosevka;
	src:url(/fonts/iosevka/woff2/iosevka-oblique.woff2?v=3.6.3)format("woff2"),url(/fonts/iosevka/woff/iosevka-oblique.woff?v=3.6.3)format("woff"),url(/fonts/iosevka/ttf/iosevka-oblique.ttf?v=3.6.3)format("truetype");
	font-weight:italic;
	font-style:italic
}

html{
	overflow-y:scroll
}
body{
	max-width:800px;
	margin:40px auto;
	padding:0 10px;
	font-size:15px;
	line-height:1.5;
	font-family:Iosevka,monospace;
	color:#dadada;
    background-color: #141414;
}
a,
a:hover,
a:visited,
a:active {
    color: rgb(0, 255, 140);
    text-decoration: none;
}

a:hover {
    text-decoration: dotted underline;
}

article{
	padding:24px 0
}

.center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%
}

picture{
	margin:0 auto;
	display:block
}
img{
	transition-property:all;
	transition-duration:.2s;
	transition-timing-function:ease;
	max-width:100%;
	opacity:.9
}
img:hover,img:active,img:focus{
	opacity:1;
	transform:scale(1.02)
}


footer{
	border-top:2px solid #b6b6b6;
	margin-top:2em;
	padding-top:1em;
	text-align:center
}

header{
	border-bottom:2px solid #b6b6b6;
    margin-bottom:2em;
    padding-bottom:1em;
	text-align:center
}
