

body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
    font-family: Courier New;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-wrap: left;
    word-wrap: break-word;
    overflow: hidden;
}
    .topnav {
    background-color: transparent;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
a:hover{
    color:aquamarine;
}

.para{
    width: 900px;
    margin:0 auto;
    text-align: center;
      
}
p {
    white-space: normal;
    display:inline-block;
}